.navbar-lewagon {
  background-color: #4c856b;
  padding: 0 1rem;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  border-radius: 8px;
  width: 56px;
}

.navbar-left {
  display: flex;
  align-items: center;
}
