// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  color: $text;
//  background-image:linear-gradient(to right, #16d6d9, #96cc29); color:rgba(0, 0, 0, 0); -webkit-background-clip:text; background-clip:text; position:relative;
}

a:hover {
  color: $text;
  text-decoration: none;
}